*{
  font-family: AcehSoft;
}

body{
  background-color: #f0f0f0;
}

.explore-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

.card{
  width: 616px;
  height: 405px;
  background-color: #ffff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
}