body{
  background-color: #f0f0f0;
  font-family: 'AcehSoft-SemiBold';
  }
  
  
  h1{
  margin: 0rem;
  }
  
  
  p{
  margin: 0rem;
  }
  
  
  .header{
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  }
  
  
  .search-input{
  width: 850px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 40px;
  border: 2px solid #000;
  }
  
  
  #search-icon{
  padding-top: 15px;
  padding-left: 20px;
  }
  
  
  .explore-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  }
  
  
  .card{
  width: 616px;
  height: 405px;
  background-color: #ffff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
  }
  
  
  .name-address-price-wrapper{
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  }
  
  
  .name-address-wrapper{
  display: flex;
  flex-direction: column;
  }
  
  
  @font-face{
  font-family: 'AcehSoft-SemiBold';
  src: url('../fonts/AcehSoft-SemiBold.ttf');
  }
  
  
  @font-face{
  font-family: 'AcehSoft-Regular';
  src: url('../fonts/AcehSoft-Regular.ttf');
  }
  
  
  .name{
  font-family: 'AcehSoft-SemiBold';
  font-size: 36px;
  padding-right: 300px;
  padding-left: 20px;
  }
  
  
  .address{
  font-family: 'AcehSoft-Regular';
  font-size: 25px;
  padding-left: 20px;
  }
  
  
  .price{
  padding-top: 10px;
  font-family: 'AcehSoft-Regular';
  }
  
  
  .card-img{
  padding-bottom: 45.25%;
  position: relative;
  }
  
  
  .card-img img{
  position: absolute;
  width: 100%;
  height: 291px;
  }
  
  
  .card:hover {
  cursor: pointer;
  }
  
  
  .card:hover img::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.5); /* Adjust the opacity (0.5) for the darkness */
  z-index: 1; /* Ensure it covers the image */
  }
  
  
  /* Additional styles for the image when the card is hovered (e.g., zoom in) */
  .card:hover img {
  transform: scale(1.1); /* Adjust the scale factor as desired */
  transition: transform 0.3s; /* Add a smooth transition effect */
  }
  
  
  #title{
  font-size: 48px;
  text-align: center;
  padding-top: 50px;
  }
  
  
  #logo{
  padding-left: 30px;
  padding-top: 18px;
  padding-right: 20px;
  color: #BF5700;
  }
  